# String Methods
## Outline
- Methods
- Split
- Join
- Substring

## Methods

In [13]:
# Upper
nama = "alfian badrul ISNAN"
namaUpper = nama.upper()
print(nama)
print(namaUpper)

alfian badrul ISNAN
ALFIAN BADRUL ISNAN

In [14]:
# Lower
nama = "Alfian Badrul Isnan"
namaLower = nama.lower()
print(nama)
print(namaLower)

Alfian Badrul Isnan
alfian badrul isnan

In [15]:
# Capitalize
nama = "ALFIAN BADRUL ISNAN"
namaCap = nama.capitalize()
print(nama)
print(namaCap)

ALFIAN BADRUL ISNAN
Alfian badrul isnan

## Split

In [27]:
name = "Alfian Badrul Isnan"
names = name.split(" ")
# print(names) (List(string)) => ['Alfian','Badrul','Isnan']
print(f"""
Nama           : {name}
Nama Depan     : {names[0]}
Nama Tengah    : {names[1]}
Nama Belakang  : {names[2]}
""")

Nama           : Alfian Badrul Isnan
Nama Depan     : Alfian
Nama Tengah    : Badrul
Nama Belakang  : Isnan

In [40]:
namaKelas = [
    'alpha',
    'beta',
    'delta',
    'gamma',
    'omni',
    'theta',
    'epsilon']
kelas1 = "6-ipa-7"
kelas2 = "3-ips-3"
kelas3 = "2-bahasa-1"
# ----- DATA 1 -----
# Tingkat   : 12
# Semester  : 8
# Jurusan   : IPA
# Rombel    : Epsilon
# ----- DATA 2 -----
# Tingkat   : 11
# Semester  : 3
# Jurusan   : IPS
# Rombel    : Delta
# ----- DATA 3 -----
# Tingkat   : 10
# Semester  : 2
# Jurusan   : BAHASA
# Rombel    : Alpha

In [52]:
d = kelas3.split("-")
print(f"""----- DATA -----
Tingkat     : {int((int(d[0])+1)/2)+9}
Semester    : {d[0]}
Jurusan     : {d[1].upper()}
Rombel      : {namaKelas[int(d[2])-1].capitalize()}
""")

----- DATA -----
Tingkat     : 10
Semester    : 2
Jurusan     : BAHASA
Rombel      : Alpha

## Join

In [58]:
data = ["H","A","L","O"]
pemisah = ""

print(pemisah.join(data))

HALO

In [62]:
sep = ":"
print(sep.join(namaKelas))

alpha:beta:delta:gamma:omni:theta:epsilon

In [66]:
nama = "alfian badrul isnan"
print(nama)
# Split dengan spasi
names = nama.split(" ")
# Capitalize perkata
print(names)
names[0] = names[0].capitalize()
names[1] = names[1].capitalize()
names[2] = names[2].capitalize()
# Join dengan spasi
print(names)
print(" ".join(names))

alfian badrul isnan
['alfian', 'badrul', 'isnan']
['Alfian', 'Badrul', 'Isnan']
Alfian Badrul Isnan

In [70]:
namaKelas = [
    'alpha',
    'beta',
    'delta',
    'gamma',
    'omni',
    'theta',
    'epsilon']
kelas1 = "6-ipa-7-alfian-badrul-isnan"
kelas2 = "3-ips-3-alfian-badrul-isnan"
kelas3 = "2-bahasa-1-alfian-badrul-isnan"

d = kelas1.split("-")
d[3] = d[3].capitalize()
d[4] = d[4].capitalize()
d[5] = d[5].capitalize()
namaLengkap = " ".join(d[3:])

print(f"""----- DATA -----
Nama        : {namaLengkap}
Tingkat     : {int((int(d[0])+1)/2)+9}
Semester    : {d[0]}
Jurusan     : {d[1].upper()}
Rombel      : {namaKelas[int(d[2])-1].capitalize()}
""")

----- DATA -----
Nama        : Alfian Badrul Isnan
Tingkat     : 12
Semester    : 6
Jurusan     : IPA
Rombel      : Epsilon

In [3]:
data = 1234
print(data)

data = "1234"
print(data + 26)

1234

TypeError: can only concatenate str (not "int") to str